<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>

<link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">      
  <link href="https://getbootstrap.com/docs/5.0/examples/heroes/heroes.css" rel="stylesheet">
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h5 class="nav glyphicon">快速實聯制</h5>

      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

      <div class="text-end">
        <button type="button" class="btn btn-danger me-3">Google 登入</button>
      </div>
    </div>
  </div>
</header>

<main class="container">
  <div class="row justify-content-center align-items-center">

    <div class="col-4 bg-light me-md-4 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark rounded ">
      <h4 class="display-6">公司QR code</h4>
      <img class="d-block mx-auto mb-4" src="https://i.imgur.com/Nsox9Mm.png" alt="" width="250" height="250">    
    </div>

    <div class="col-4  me-md-4 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark rounded">
      <h2 class="display-6">公司資訊</h2>
      <form class="p-4 p-md-5 col-20">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="CompanyName">
          <label for="floatingInput">公司名稱</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingNumber" placeholder="Number">
          <label for="floatingNumber">電話</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Address">
          <label for="floatingPassword">地址</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingNumber" placeholder="Number">
          <label for="floatingNumber">統編號碼</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">送出</button>
      </form>
    </div>
    
  </div>

  <div class="b-example-divider fixed-bottom"></div>
</main>