<header class="p-3 bg-dark text-white">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/5.0/examples/heroes/heroes.css" rel="stylesheet">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h5 class="nav glyphicon">快速實聯制</h5>

            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

            <div class="text-end">
                <button type="button" class="btn btn-danger me-3">Google 登入</button>
            </div>
        </div>
    </div>
</header>

<main class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">這邊放商家QR code</h2>
            </div>
        </div>

        <div class="bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <form class="p-4 p-md-5">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">公司名稱</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">電話</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">地址</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">統編號碼</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">送出</button>
            </form>
        </div>

    </div>

    <div class="b-example-divider fixed-bottom"></div>
</main>