<header class="p-3 bg-dark text-white">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/5.0/examples/heroes/heroes.css" rel="stylesheet">
    <meta charset="utf-8">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h5 class="nav glyphicon">快速實聯制</h5>
            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>
            <div class="text-end">
                <button id="signInWithGoogle" type="button" class="btn btn-danger me-3">Google 登入</button>
                <button type="button" class="btn btn-outline-light">Google 註冊</button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">全國人口流動位置</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">這邊放全國熱度圖</p>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="pt-5 text-center align-text-bottom">
        <h1 class="display-5 fw-bold">資訊板</h1>
        <h3 class="font-weight-bold">今日新增XXX例</h3>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">錯誤回報</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">聯絡我們</button>
        </div>
    </div>
</main>

<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="sign_google.js"></script>